body {
    margin: 0;
    padding: 0;
    color: #333;
    height: 100vh;
    overflow-x: hidden;
}

/* hero section */
#hero-bg {
    background: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.8)), url('./img/hero-img.jpg') no-repeat;
    background-size: cover;
    background-position: center;
    height: 60vh;
    width: 100%;
    color: #ffffff;
}
.hero-text {
    text-align: left;
    margin: 6rem 0;
    padding: 8rem 2rem 0 2rem;
    width: 60%;
    
}
.hero-text h1 {
    font-size: 4rem;
    letter-spacing: .4rem;
    width: 100%;
}
.hero-description {
    font-size: 1.9rem;
}


.add-border {
    border-bottom: .1rem solid #373A36;
    box-shadow: 0 .4rem .3rem 0 #333;
}
@media (max-width: 600px) {
    .hero-text {
        margin: 0;
        padding: 0;
    }
    .hero-text h1 {
        font-size: 2.8rem;
        margin-top: 8rem;
        padding-top: 2rem;
    }
    .get-started-actions {
        flex-basis: 100%;
    }
}
/* how to use section */
.highlight {
    color: #D48166;
}
.services h2 {
    text-transform: capitalize;
    margin: 2rem 1rem;
}
.services p {
    font-size: 1.6rem;
    margin: 0 1rem;
}
.how-to-use {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
}
.how-to-use h2 {
    margin: 3rem 0 1.5rem 0;
}
.how-to-use img {
    width: 100%;
    height: auto;
    margin: .5rem 0 3rem 0;
}
.how-to-use p {
    width: auto;
}
.description-cards {
    display: inline-block;
    width: 300px;
    border: .1rem solid #D48166;
    padding: 0 1rem 1rem 1rem;
    margin-top: .4rem;
    border-radius: .4rem;
    background: #D48166;
    box-shadow: 0 .3rem .3rem rgba(0,0,0,0.5);
}