body {
    margin: 0;
    padding: 0;
    color: #333;
}

/* the styling for the get started section */
#profile {
    background: #ffffff;
    padding: 2rem 1.3rem;
}
#profile h1 {
    text-align: center;
    margin-bottom: 2rem;
}
/* this is still under the get-started section, this is the user action section */
.admin-sideBar {
    display: inline-block;
    width: 30%;
    border-right: .2rem solid rgb(219, 213, 213);
    padding-bottom: 25rem;
}
.admin-sideBar button {
    
}
.admin-actions {
    display: inline-block;
    width: 60%;
}
@media(max-width: 600px) {
    .admin-sideBar {
        width: 100%;
        justify-content: space-around;
    }
    .admin-sideBar button {
        margin: auto;
    }
    .admin-actions {
        display: block;
        width: 100%;
    }
}
