#all-parcels {
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    border-collapse: collapse;
    width: 80%;
    display: inline-block;
}

#all-parcels td, #all-parcels th {
    border: 1px solid #ddd;
    padding: 8px;
}