table {
  width: 100%;
  border-collapse: collapse;
  border: .1rem solid #ffffff;
  box-shadow: 0rem .4rem .5rem -.1rem rgba(0,0,0,0.62);
}
.user-actions-results h2 {
  text-align: center;
  margin: 1.2rem;
  text-transform: capitalize;
}
thead tr th {
  border: .1rem solid #89bdd3;
  background: #89bdd3
}
tr {
  text-align: center;
  height: 5.2rem;
}
tr:nth-of-type(odd) {
  background: #eee;
}
/*  */
#get-started-tabs {
  padding: 4rem 0;
}
/* buttons styling */
.table-action-btn {
  width: auto;
  border-radius: 0.5rem;
  padding: 0.4rem 0.5rem;
}
#deleteBtn {
  background: #89bdd3;
  border: .1rem solid #89bdd3;
  font-weight: bold;
  cursor: pointer;
}
#editBtn {
  background: rgb(212, 197, 178);
  border: .1rem solid #E6E2DD;
  font-weight: bold;
  cursor: pointer;
}
td .mobile-view-title {
  display: none;
}
.td{
  padding: 0 4px;
  width: 138px;
}
@media(max-width: 600px) {
  .td{
    padding: 0 4px;
    width: 117px;
  }
  thead{
    display: none;
    content: attr(data-title);
  }
  td {
    display: block;
    font-size: 1.5rem;
  }
  td button {
    margin: 1rem auto;
  }
  td .editBtn {
    /* margin-top: 14rem; */
  }
  tr {
    text-align: unset;
  }
  td .mobile-view-title {
    display: inline-block;
    margin: 0 5rem 0 1rem;
    float: none !important;
    font-weight: 700;
    text-transform: uppercase;
}
td .parcel-detail {
  float: right;
  margin: 0 1rem 0 0;
}
}
/* modal styling */
#modal-edit, #modal-cancel {
  display: none;
  z-index: 1;
  height: 100%;
  width: 100%;
  position: fixed;
  left: 0;
  top: 0;
  overflow: auto;
  background: rgba(0,0,0,0.62);
}
#modal-content-edit {
  color: #333;
  margin: 10% auto;
  animation: fadeIn .4s ease-in-out;
}
#modal-content-cancel {
  color: #333;
  margin: 10% 35%;
  animation: fadeIn .4s ease-in-out;
}
#modal-content-cancel h3 {
  text-align: center;
}
#modal-content-cancel .container {
    display: flex;

}
#close {
  cursor: pointer;
  font-weight: 700;
  float: right;
  color: #333;
  font-size: 3rem;
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  30% {
      opacity: 0.4;
  }
  70% {
      opacity: 0.7;
  }
  100% {
      opacity: 1;
  }
}
