html {
    height: 100vh;
}
body {
    display: flex;
    flex-flow: column;
    min-height: 100vh;
    overflow: hidden;
}
main {
    flex: 1
}
form{
    padding: 3rem;
}

.bg {
    background: url('../img/signup-in.jpg') no-repeat;
    background-size: cover;
    background-position: center center;
}

.form-card{
    margin-bottom: 3rem;
}

#login {
    margin-top: 10%;
    text-align: center;
    font-size: 1.6rem;
}

/* Media Query */
@media(max-width: 600px) {
    .form-card{
        margin: 12rem auto !important;
    }
}