@import url('https://fonts.googleapis.com/css?family=Karla|Oxygen');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body{
    font-family: 'Karla', sans-serif;
    font-size: 1.5rem;
    line-height: 1.5;
    background-color: #f4f4f4;
    box-sizing: border-box;
    min-height: 100vh;
    width: 100%;
    overflow-x: hidden;
    display: flex;
    flex-flow: column;
}

/* Global Styling */
main {
    flex: 1
}
.section {
    padding-top: 6rem;
}
.section h1 {
    text-align: center;
    background: #E6E2DD;
    color: #333;
    text-transform: uppercase;
    padding: 1rem;
}
.container{
    width: 85%;
    margin: auto;
    height: 100%;
}

.w-3 {
    width: 80%; 
}

ul {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: #fff;
}
span a {
    color: #333;
}
h3 a {
    color: #333;
}
.col-3 {
    float: left;
    width: 30%;
}
.col-9 {
    float: left;
    width: 70%;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
}
.p-3 {
    padding: 3rem;
}
/* styling for all buttons, still under global styling */
.btn {
    background: #373A36;
    text-align: center;
    border-radius: .5rem;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: .1rem solid #373A36;
    margin: 1rem auto;
}

.btn-primary {
    background: #D48166;
    text-align: center;
    border-radius: .5rem;
    color: white;
    font-weight: bold;
    cursor: pointer;
    border: .1rem solid #D48166;
    margin: 1.5rem 0;
    padding: 1.2rem .5rem;
}

.form-card {
    max-width: 50rem;
    margin: 10rem auto;
    border: .1rem solid #EFEFEF;
    background: #EFEFEF;
    box-shadow: -.6rem .7rem 1.3rem -.1rem rgba(0,0,0,0.53);
    border-radius: .5rem;
    color: #333;
}
.form-card h2 {
    font-size: 3rem;
    text-align: center;
    margin-bottom: 1.3rem;
    text-transform: capitalize;
}
form label {
    display: inline-block;
}
input {
    width: 100%;
    line-height: 1.3;
    padding: 1rem;
    margin-bottom: 1.9rem;
    height: 3.5rem;
    border: .1rem solid #b3aaaa;
    border-radius: .5rem;
    cursor: auto;
    display: inline-block;
}
::placeholder {
    opacity: 0.5;
}

button{
    display: block;
    padding: 1rem;
}

.form-card select {
    border-radius: 4px;
    display: block;
    padding: .7rem;
    width: 100%;
    background: #CEE5F2;
}

/*header styling */
header{
    background: #373A36;
    color: #fff;
    min-width: 100%;
    min-height: 10%;
    position: fixed;
    top: 0;
    z-index: 1;
}

header a{
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.4rem;
}
header li{
    display: inline;
    padding: 0 2rem 0 2rem;
}

header #app-logo{
    float:left;
}
header #app-logo h1{
    margin-top: .7rem;
    font-size: 2.6rem;
    font-family: 'Oxygen', sans-serif;
    text-transform: capitalize
}

header nav{
    float: right;
    margin-top: 1.7rem;
}
.nav {
    background: #D48166;
}
nav ul li a {
    margin: .3rem .4rem;
    color: #fff;
    font-weight: 600;
    font-size: 1.4rem;
}

header a:hover{
    color: #fff;
    font-weight: bold;
}
/*services styliing  */
.services {
    padding: 2rem 1rem;
}
.services-header {
    text-align: left;
}

/* the styling for the get started section */
#get-started h1 {
    text-align: center;
    font-size: 3rem;
    text-transform: uppercase;
    margin-bottom: 1rem;
}
#get-started-tabs {
    display: flex;
    justify-content: center;
    padding: 1rem 0;
    flex-flow: row wrap;
}
.get-started-actions {
    flex: -1;
    width: 40%;
    text-align: center;
    border: 1px solid #EDE9E6;
    padding: 2rem 1rem;
    background: #EDE9E6;
    transition: all .3s;
    border-radius: .7rem;
    margin: .3rem;
    box-shadow: 0 .1rem .2rem #333;
}
.get-started-actions:hover {
    box-shadow: 0 .5rem .5rem #333;
}
/* this is the styling for the users actions and the responses that follow it */
.user-actions-options {
    width: 100%;
    border: .1rem solid rgb(219, 213, 213);
    transition: all .4s;
}
.user-actions-options h3 {
    transition: all .4s;
    margin-bottom: 1rem;
}
.user-actions-options h3 a {
    color: #020505;
    transform: translateX(0);
    transition: all .4s;
}
.user-actions-options h3 a:hover {
    color: #173e43;
    transform: translateX(3rem);
}
.user-actions-options h3 a:active {
    color: #173e43;
    transform: translateX(3rem);
}
.user-actions-results {
    width: 100%;
    margin: 0 auto;
    padding: 1rem;
}
/* table styling */
/* .table {
    margin: 0 0 40px 0;
    width: 100%;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
    display: table;
  } */

/* this is more styling for the user-action pages */

/* this is for the display of the tabs */

/* footer stlying */

.footer {
    background:#E6E2DD;
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    padding: 3rem 6rem;
    font-weight: 600;
}


/*Media query*/
@media(max-width: 600px) {
    header nav{
        display: flex;
        flex-flow: row nowrap;
    }
    header #app-logo {
        float: none;
        text-align: center;
        display: block;
    }

    header nav {
        float:none;
    }
    nav ul li a {
        color: #fff;
        font-weight: 600;
        font-size: 1.9rem;
    }
    .section h1 {
        padding-top: 3rem;
        font-size: 1.5rem;
    }
    .col-3, .col-9, input {
        width: 100%;
    }
    .hero-text .hero-description {
        font-size: 1.9rem;
    }
    .display-tabs {
        width: 20%;
    }
    .form-card-header {
        margin-top:29%;
    }
    .form-card {
        margin: 0 auto;
    }
    .app-feature {
        padding-top: 1rem;
    }
    .get-started-actions {
        margin: 1rem 6rem;
    }
    footer {
        margin-top: 18rem;
    }
}

@media (max-width: 450px) {
    body {
        padding: 0;
    }
    header ul{
       display: flex;
        flex-flow: row nowrap;
        justify-content: space-around;
    }
    header ul li a {
        font-size: 1.4rem;
        justify-content: space-around;
    }
    
    div.container {
        width:90%;
    }

    .display-tabs {
        padding: .3rem .4rem;
    }
}