body {
    margin: 0;
    padding: 0;
    color: #333;
}
/* the styling for the get started section */
#profile {
    background: #ffffff;
    padding: 2rem 1.3rem;
}
#profile h1 {
    text-align: center;
    margin-bottom: 3rem;
    text-transform: uppercase;
}
#profile button {
    margin: 2rem 0 0 2.5rem;
    border: 0px solid #fff;
    border-radius: .6rem;
    box-shadow: 0 .2rem .7rem rgba(0,0,0,0.5);
    animation: pulse 8s infinite;
}
@keyframes pulse {
    0% {
        transform: translateY(0);
    }
    30% {
        transform: translateY(1rem);
    }
    70% {
        transform: translateY(1.4rem);
    }
    100% {
        transform: translateY(0);
    }
}
/* this is still under the get-started section, this is the user action section */

.profile-details {
    display: flex;
    justify-content: space-around;
    flex-flow: row wrap;
    width: 100%;
    margin-bottom: 4rem;
}
/* profile tabs */
.profile-tabs {
    width: 60rem;
    margin: 2rem;
    text-align: center;
    border: .1rem solid #373A36;
    padding: 2rem;
    background: #373A36;
    color: #ffffff;
    box-shadow: 0 .3rem .6rem .3rem rgba(0,0,0,0.5);
}
.profile-tabs h4 {
    font-size: 3rem;
}